<div class="uvisWrap ngdialog-message" ng-controller="uvisDeletePopup">
    <div class="uvisHeader">
        <h1>{{ 'Delete Visualization?'|translate }}</h1>
    </div>
    <div class="uvisBody uvisPage modal-body">
   </div>
    <div class="uvisFooter ngdialog-buttons">
        <button class="button button-primary delete" ng-click="deleteUvis()">{{ 'Delete'|translate }}</button>
        <button class="button button-secondary ngdialog-button" ng-click="closeThisDialog()">{{ 'Cancel'|translate }}</button>
    </div>
</div>